.blogish {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    width: 80%; 
    max-width: 750px; 
    margin: 0 auto;
}

.blog__post {
    width: inherit;
    padding: $spacingMedium; 
    background-color: $blogBgColor;
}