
p > a {
  &:visited{
    color: inherit;
  }
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}
.display-link{
    font-size: 1.5rem;
    &:hover{
      color: lighten($bg-color, 80%);
      text-decoration: none;
      cursor: pointer;
    }
    &:visited{
      color: inherit;
    }
  }
  
  .social-media{
    display: inline-flex;
    position: absolute;
    bottom: 2rem;
    list-style: none;
    padding: 1rem 0rem;
    margin: 0rem;
  
    a{
      padding: 0.5rem;
      font-size: 1.5rem;
      color: transparentize(lighten($bg-color, 80%), 0.4);
      @include vendor(transition, 0.5s);
      &:hover{
        color: transparentize(lighten($bg-color, 90%), 0.2);
      }
    }
  }