@use '../../styles/settings/variables.scss' as *;

.lineCap {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  background-color: transparent;
  transition: 0.2s;
  padding: 0;

  &:hover {
    transform: scale(1.2);
  }

  .lineCapIndicator {
    width: 1.4rem;
    height: 1.4rem;
    border: 0.2rem solid $darkGray;
    box-sizing: content-box;

    &.round {
      border-radius: 100%;
    }

    &.butt {
      width: 1px;
      transform: rotate(45deg);
    }
  }
}
