@use '../../styles/settings/variables.scss' as *;

.lineCap {
  display: flex;
  border: none;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  width: max-content;
  height: max-content;
  background-color: transparent;
  padding: $spacingMd;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  .lineCapIndicator {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid $darkGray;
    box-sizing: content-box;

    &.round {
      border-radius: 100%;
    }

    &.butt {
      width: 1px;
      transform: rotate(45deg);
    }
  }
}
