@use './settings/variables.scss' as *;

* {
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: $darkGray;
  font-size: 16px;
}

.app {
  min-height: 100vh;
  font-family: $bodyFont;
  color: white;
}
