@import 'variables';

#bg{
  display: block;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: $bg-width;
  height: $bg-height;
  background-color: $bg-color;
  z-index: -999;
}

.dot{
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  background: radial-gradient(lighten($bg-color, 65%), $bg-color);
  border-radius: 50%;
  position: absolute;
}
