
// Colors 

$bg-color: #250245;
$blogBgColor: #755295;


// Fonts

$text-font: 'Exo 2', sans-serif;
$head-font: 'Comfortaa', monospace;


// Sizing

$bg-width: 100vw;
$bg-height: 100vh;


// Spacing

$spacingSmall: 5px;
$spacingMedium: 15px; 
$spacingLarge: 25px; 
