@import url('https://fonts.googleapis.com/css?family=Comfortaa|Exo+2');

@import 'partials/background';
@import 'partials/variables';
@import 'partials/title-display';

body{
  font-family: $text-font;
  color: lighten($bg-color, 90%);
  letter-spacing: 0.05rem;
}
